.container {
    margin:25px;
    background-color: #faf2f0;
    max-width: 300px;
    color:red;
    padding:5px;
}


.date {
    display: flex;
    justify-content: space-between;
    color:black
}

.description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #faf2f0;
    color:black;

}
.button {
    width:25px;
    height: 25px;
}
.title {
    text-decoration: underline solid red;
}