.container {
    margin:25px;
    background-color: #faf2f0;
    max-width: 300px;
    color:red;
    padding:5px;
}


.date {
    display: flex;
    justify-content: space-between;
    color:black;
    flex-wrap: wrap;
}

.description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #faf2f0;
    color:black;

}
.button {
    width:25px;
    height: 25px;
}
.title {
    text-decoration: underline solid red;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.link {
    text-decoration: underline solid black;
}