.container {
    background-color: #faf2f0;
    margin-top: 10px;
    padding:5px;
}

.date {
    display: flex;
    justify-content: space-between;
    margin:30px 0px;
}

.name {
    font-weight: bolder;
    font-size: 20px;
}