.all {
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 40px;
    background-color: #faf2f0;
    margin: 10px;

}

.img {
    max-width: 100px;
    max-height: 100px;
    animation: rotation 2s infinite linear;
}
.title {
    margin: 0 auto;
    font-size: 35px;
}

@media screen and (max-width: 320px){
    .title {
        font-size: 25px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }

}


