.wrapper{
  display: flex;
  justify-content: center;
}



.container{
height: 500px;
  width: 500px;
  margin: 50px 100px ;

  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}
.box{
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid black;

}
.number{
  font-size: 200px;
}

.qwe{
max-width:80%
}


