body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'a_BosaNovaCps_BELARUS';
  src: local('a_BosaNovaCps_BELARUS'),
  url('./fonts/a_BosaNovaCps_BELARUS.ttf') format('truetype');
  font-weight: bold;
}
.font-a_BosaNovaCps_BELARUS {
  font-family: 'a_BosaNovaCps_BELARUS',sans-serif;
}
