body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'a_StamperRg&Bt_BELARUS';
  src: local('a_StamperRg&Bt_BELARUS'),
  url('./fonts/a_StamperRg&Bt_BELARUS.ttf') format('truetype');
  font-weight: bold;
}
.font-BOD_NBBI_BELARUS {
  font-family: 'a_StamperRg&Bt_BELARUS';
}
